.aboutus-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 963px;
}

.aboutus-header {
  display: flex;
  gap: 13rem;
}

.aboutus-sub {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-top: -2.3rem;
}

.scribble {
    z-index: 999;
}

.clearlink {
  color: #175cd3;
  font-size: 1.2rem;
  font-weight: bold;
}

.clearlink-header {
  font-size: 3rem;
  margin: 15px 0px 30px;
}

.aboutus-image {
  width: 35%;
  display: flex; /* Add flex to make the image stretch to fill the div */
  align-items: stretch;
}

.aboutus-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
