.faqasked-left span {
  color: #175cd3;
  font-weight: bold;
}

.faqasked-left h3 {
  color: #1d2939;
  font-size: 2.8rem;
  margin-top: 10px;
}

.faqasked-left p {
  color: #667085;
  font-size: 1.5rem;
  margin-top: 10px;
}

.faq-accordion {
  margin: 20px 0;
  overflow: hidden;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px 15px 20px;
  border: none; /* Remove all borders */
  border-bottom: 1px solid #ddd; /* Only set the bottom border */
  border-radius: 5px;
}

.faq-question h3 {
  margin: 0;
  font-size: 20px;
  color: #101828;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
}

.faq-answer p {
  font-size: 18px;
  color: #475467;
}

.faq-answer.open {
  max-height: 1000px; /* Adjust as needed for content height */
  padding: 0 15px 15px; /* Padding to match question padding */
}

.faqasked {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  gap: 20px;
}

.faqasked-left {
  flex: 1;
}

.faqasked-right {
  flex: 1;
}

.plus-sign {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #98a2b3;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #98a2b3;
}
