.container {
  width: 85%;
  margin: 0 auto;
}

.App {
  background-color: blue;
  margin: 0 auto;
}




/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
