.container {
  width: 85%;
  margin: 0 auto;
}

.App {
  margin: 0 auto;
  /* padding-top: 30px; */
}

.hd-bg {
  padding-top: 35px;
  background-image: url('/src/assets/images/main-background.png');
  object-fit: contain;
}

.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: none;
  
  transition: background-color 0.3s, color 0.3s;
}

.sign-up-button {
  padding: 15px 32px;
  margin: 0px 5px;
  background-color: #175CD3;
  color: #fff;
  border-radius: 25px;
}

.sales-button {
  padding: 15px 32px;
  margin: 0px 5px;
  background-color: #fff;
  color: #000;
  border-radius: 25px;
}

.free-trial-button {
  font-size: 1.2rem;
  padding: 30px 32px;
  margin-right: 20px;
  background-color: #175CD3;
  color: #fff;
  border-radius: 45px;
  width: 30%;
}

.top-nav {
  width: 40%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
  border-radius: 40px;
  background-color: #d0d5dd;
}

.nav-list {
  list-style: none; /* Remove default list styling */
  display: flex; /* Flexbox layout for horizontal alignment */
  justify-content: space-around; /* Evenly space out the nav items */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.nav-item {
  /* Additional styling for list items if needed */
}

.nav-link {
  color: #333333; /* Dark gray text color */
  text-decoration: none; /* No underline */
  font-size: 16px; /* Font size */
  display: flex; /* Flex layout for aligning text and icon */
  align-items: center; /* Align items vertically */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.nav-link .fa-angle-down {
  margin-left: 5px; /* Space between text and icon */
  font-size: 12px; /* Slightly smaller font size for the icon */
}

.nav-link:hover,
.nav-link:focus {
  color: #0056b3; /* Change color on hover/focus for visual feedback */
}

.hero-content {
  display: flex;
  flex-direction: row;
}

.partners-info {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.partners {
  display: flex;
  justify-content: space-around;
}

.partner-caption {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

